{% extends "../base.html" %}


{% block content %}
    <div class="authorPage container">
        {% include "../blogs/partials/navbar.html" %}

        <div class="authorPage-title">
            <h2>مقالات شخصی</h2>
            <a href="{% url 'accounts:create_post' %}">
                <i class="fa fa-plus-square-o" style="font-size:20px"></i>
            </a>
        </div>

        {% for post in posts %}
            <div class="authorPage-post">
                <div class="authorPage-post-header">
                    <div>
                        <h3>
                            {{ post.title }}
                        </h3>
                    </div>
                    <div class="authorPage-post-header-link">
                        {% if post.status == "published" %}
                            <a href="{% url "blogs:post_detail" slug=post.slug %}">
                                <i class="fa fa-eye" style="font-size:20px"></i>
                            </a>
                        {% else %}
                            <a class="link-disabled" href="#">
                                <i class="fa fa-eye" style="font-size:20px"></i>
                            </a>
                        {% endif %}

                        <a href="{% url 'accounts:edit_post' post.id %}">
                            <i class="fa fa-pencil-square-o" style="font-size:20px"></i>
                        </a>
                        <a href="{% url 'accounts:delete_post' post.id %}">
                            <i class="fa fa-trash-o" style="font-size:20px"></i>
                        </a>
                    </div>
                </div>
                <p>
                    {{ post.body|truncatewords:20|safe }}
                </p>
            </div>
        {% endfor %}
    </div>

    {% include "../blogs/partials/footer.html" %}

{% endblock content %}