{% extends "../base.html" %}


{% block content %}
    <div class="forget-password">
        <h2>فراموشی رمز عبور</h2>
        <form action="" method="post">
            {% csrf_token %}
            <div>
                <label for="email">ایمیل</label>
                {{ form.email }}
            </div>
            <button type="submit" >ارسال</button>
        </form>
        <p class="login-page">برای بازگشت به صفحه ورود<a href="{% url 'accounts:login' %}"> کلیک </a>کنید.</p>
    </div>
{% endblock content %}