{% extends "base.html" %}


{% block content %}
    <!-- Main -->
        <div class="main">

          <!-- Post content -->
          <div class="content">

            {% for post in posts %}
                <div class="card">
                    <div class="card-image">
                        <img src="./woods.jpg" alt="pic">
                    </div>
                    <div class="card-title">
                        <h1>{{ post.title }}</h1>
                    </div>
                    <div class="card-publish-date">
                        <h5><span>{{ post.updated_at }}</span></h5>
                    </div>
                    <div class="card-body">
                        <p>
                            {{ post.body|truncatewords:30 }}
                        </p>
                    </div>
                    <div class="card-footer">
                        <div><a href="#">بیشتر...</a></div>
                        <div class="card-footer-comment">نظرات <span>0</span></div>
                    </div>
                </div>
            {% endfor %}

          </div>

          <!-- Popular post -->
          <div class="popular-post">
              <table>
                <tr>
                  <th>پست های پر بازدید</th>
                </tr>
                <tr>
                  <td>
                     <div>
                      <span>
                        <h6>lorem ipsum</h6>
                        <p>this is text.</p>
                      </span>
                      <span>
                        <img src="./woods.jpg" alt="pic">
                      </span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div>
                      <span>
                        <h6>lorem ipsum</h6>
                        <p>this is text.</p>
                      </span>
                      <span>
                        <img src="./woods.jpg" alt="pic">
                      </span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                     <div>
                        <span>
                          <h6>lorem ipsum</h6>
                          <p>this is text.</p>
                        </span>
                        <span>
                          <img src="./woods.jpg" alt="pic">
                        </span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                     <div>
                      <span>
                        <h6>lorem ipsum</h6>
                        <p>this is text.</p>
                      </span>
                      <span>
                        <img src="./woods.jpg" alt="pic">
                      </span>
                    </div>
                  </td>
                </tr>
              </table>
          </div>


          <!-- Tags -->
          <div class="tags">
            <table>
                <tr>
                  <th># تگ ها</th>
                </tr>
                <tr>
                  <td>
                    <span>hello</span>
                    <span>hello</span>
                    <span>hello</span>
                    <span>hello</span>
                    <span>hello</span>
                    <span>hello</span>
                  </td>
                </tr>
              </table>
          </div>
        </div>   

{% endblock content %}