{% extends "../base.html" %}


{% block content %}
    <div class="container">
        <div class="post-detail">
            <img class="post-detail-img" src="{{ post.image.url }}" alt="pic">
            <h1>{{ post.title }}</h1>

            <div class="post-info">
                <div class="post-author">
                    <div>
                        <img class="post-author-img" src="../media/images/download.png" alt="author-pic">
                    </div>
                    <div class="post-author-info">
                        <h4>{{ post.author.user_name }}</h4>
                        <span>برنامه نویس بک اند</span>
                    </div>
                </div>

                <div class="post-meta">
                    <time><i class='fa fa-calendar'></i>{{ post.updated_at }}</time>
                    <h4><i class='fa fa-comments'></i>۱۸ کامنت</h4>
                </div>
            </div>
            <hr />

            <p>{{ post.body }}</p>

            <!-- comment section -->
            <div class="comment-section">
                <!-- Send comment -->
                {% if user.is_authenticated %}
                    <div class="comment-form">
                        <h3>ارسال نظرات و دیدگاه ها</h3>
                        <form method="post">
                            {% csrf_token %}
                            <textarea rows="2" name="body"></textarea>
                            <button type="submit">ارسال نظر</button>
                        </form>
                    </div>
                {% else %}
                    <div>
                        <p><a href="#">ورود</a> به اکانت برای ارسال نظر ....</p>
                    </div>
                {% endif %}

                <!-- Show comment and reply -->
                {% for comment in comments %}
                    <div class="comment">
                        <div class="comment-author">
                            <div>
                                <img class="comment-author-img" src="../media/images/download.png" alt="author-pic">
                            </div>
                            <div class="comment-author-info">
                                <h4>{{ comment.user }}</h4>
                                <time><i class='fa fa-calendar'></i> {{ comment.updated }}</time>
                            </div>
                        </div>
                        <div class="comment-body">
                            <p>{{ comment.body }}</p>
                        </div>


                        {% for reply in comment.replies.all %}
                            <div class="comment reply">
                                <div class="comment-author">
                                    <div>
                                        <img class="comment-author-img" src="../media/images/download.png" alt="author-pic">
                                    </div>
                                    <div class="comment-author-info">
                                        <h4>{{ reply.user }}</h4>
                                        <time><i class='fa fa-calendar'></i> {{ reply.updated }}</time>
                                    </div>
                                </div>

                                <div class="comment-body">
                                    <p>{{ reply.body }}</p>
                                </div>
                            </div>
                        {% endfor %}

                        {% if user.is_authenticated %}
                            <div class="reply-form">
                                <form method="post">
                                    {% csrf_token %}
                                    <textarea rows="6" name="body"></textarea>
                                    <input type="hidden" name="parent_id" value="{{ comment.id }}">
                                    <button type="submit">پاسخ</button>
                                </form>
                            </div>
                        {% endif %}

                    </div>
                {% empty %}
                    <p>هنوز کامنی وجود ندارد.</p>
                {% endfor %}
            </div> 
        </div>
    </div>

    <!-- Footer -->
    {% include "./partials/footer.html" %}
{% endblock content %}