<!-- Header -->
<header id="header" class="header">
    <div class="navbar">
        {% with request.resolver_match.url_name as url_name %}
            <div>
                <a class="{% if url_name == 'home' %}active{% endif %}" href="{% url 'blogs:home' %}">خانه</a>
            </div>
            <div>
                <a class="{% if url_name == url %}active{% endif %}" href="{% url 'blogs:about' %}">درباره ما</a>
            </div>
            <div>
                <a class="{% if url_name == url %}active{% endif %}" href="#">تماس با ما</a>
            </div>
            <div>
                {% if not user.is_authenticated %}
                    <a class="{% if url_name == 'login' %}active{% endif %}" href="{% url 'accounts:login' %}">ورود/ثبت نام</a>
                {% else %}
                    <a class="{% if url_name == url %}active{% endif %}" href="{% url 'accounts:profile' %}">پروفایل</a>
                {% endif %}
            </div>
        {% endwith %}
        <div id="navbar-search">
            <form action="{% url 'blogs:post_search' %}" method="get">
                <input type="text" name="q"  placeholder="جستوجوی وبلاگ ها" value="{{ request.GET.q|default_if_none:'' }}">
                <button type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>
    </div>
</header>

<!-- Mobile or tablet view searchbar -->
<div id="mobile-searchbar" class="mobile-sticky-searchbar">
    <div class="mobile-search-container">
        <form action="{% url 'blogs:post_search' %}" method="get">
                <input type="text" name="q"  placeholder="جستوجوی وبلاگ ها" value="{{ request.GET.q|default_if_none:'' }}">
                <button type="submit">
                    <i class="fa fa-search"></i>
                </button>
        </form>
    </div>
</div>